In [2]:
# Import dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time 
import requests
import pandas as pd

In [3]:
# Establish a path with Chrome Driver and create browser
executable_path={'executable_path': ChromeDriverManager().install()}
browser=Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\carua.DESKTOP-4FTJ629\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
# Assign URL and visit with browser
url= "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [4]:
# Create an HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
#Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.
news_title = soup.find_all("div", class_="content_title")[1].text
# Print headline
print(news_title)

Another First: Perseverance Captures the Sounds of Driving on Mars

In [5]:
# Find and print first paragraph
news_p = soup.find("div", class_="article_teaser_body").text
print(news_p)

NASA’s newest rover recorded audio of itself crunching over the surface of the Red Planet, adding a whole new dimension to Mars exploration.

In [6]:
# Load URL for image and visit using splinter 
image_url= "https://www.jpl.nasa.gov/images?search=&category=Mars"
browser.visit(image_url)

In [7]:
browser.find_by_css('.mb-3').click()
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [21]:
# Locate image using splinter, assign to a variable, and save and print complete URL
featured_img= soup.find("img", class_="BaseImage")
featured_img_url= featured_img['data-src']
print(f"Featured_image_url: {featured_img_url}")

Featured_image_url: https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24504.2e16d0ba.fill-400x400-c50.jpg

In [ ]:
### Mars Facts

In [24]:
#Visit the Mars Facts webpage [here](https://space-facts.com/mars/) 
#and use Pandas to scrape the table containing facts about the planet 
#including Diameter, Mass, etc.
facts_url= "https://space-facts.com/mars/"
browser.visit(facts_url)

In [36]:
# Read table on webpage using Pandas and assign to variable name
mars_facts=pd.read_html(facts_url)
# mars_facts
# type(mars_facts)

list

In [63]:
# Create dataframe using scraped data
facts_df = mars_facts[0]
# facts_df.rename(columns= {"0": "Facts","1": "On Mars"})

facts_df.head(10)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [65]:
#Use Pandas to convert the data to a HTML table string.

In [64]:
html_table = facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [66]:
### Mars Hemispheres

In [7]:
# Visit the USGS Astrogeology site
astrogeo_url= "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(astrogeo_url)

In [11]:
# Create an HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
#Scrape the USGS Astrogeology site and collect high resolution images for each of Mar's hemispheres. 
#Save both the image url string for the full resolution hemisphere image, 
#and the Hemisphere title containing the hemisphere name. 
# Use a Python dictionary to store the data using the keys `img_url` and `title`.
browser.links.find_by_partial_text('Valles').click()

In [ ]:
#cerb_hem = soup.find_all("div", class_="h3")[1].jpg

In [51]:
### Test code or unworkable/broken Code
#facts_df.index_col=[0]
# for col in facts_df.columns:
#     print(col)
#soup = bs(html, 'html.parser')
# soup= bs(response.text, 'html.parser')
# soup
 # articles = soup.find_all('article', class_='product_pod')
#print(soup)
#facts_df.pd(header=False, index=False)

In [ ]:
#featured_image = soup.find_all("div", class_="content_title")[1].text
#print(news_title)

In [ ]:
# conn = 'mongodb://localhost:27017'
# import pymongo
# #PyMongo constructor - this is a class, as noted by the capital letters
# client = pymongo.MongoClient(conn)

# db=client.MarsDB
# response= requests.get(url)